Source: switcheroo-control
Section: gnome
Priority: optional
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders: Jeremy Bícha <jbicha@ubuntu.com>, Sebastien Bacher <seb128@debian.org>
Build-Depends: debhelper-compat (= 13),
               gir1.2-umockdev-1.0,
               gtk-doc-tools,
               libglib2.0-dev,
               libgudev-1.0-dev,
               libudev-dev,
               meson (>= 0.50),
               pkg-config (>= 0.22),
               python3-gi,
               python3-dbus,
               python3-dbusmock,
               systemd-dev,
               udev,
               umockdev,
Standards-Version: 4.7.0
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/gnome-team/switcheroo-control
Vcs-Git: https://salsa.debian.org/gnome-team/switcheroo-control.git
Homepage: https://gitlab.freedesktop.org/hadess/switcheroo-control

Package: switcheroo-control
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: D-Bus service to check the availability of dual-GPU
 For systems that have both an integrated GPU and a dedicated GPU, this
 package by default will force the integrated GPU to be used to save power.
 .
 You can launch individual apps using the dedicated GPU by running them
 with the environment variable DRI_PRIME=1. Or you can right-click on the
 app (while it's not running) in GNOME Shell's Activities Overview
 and choose the "Launch using Dedicated Graphics Card" option.
 .
 If this default behavior is not appropriate, uninstall this package or
 set xdg.force_integrated=0 as a kernel command-line option in your
 bootloader.
